{% extends './layouts/base.html'%} {%block content%}

<div id="content" class="colM">
    <div id="content-main">
        
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}> {{message}}</p>
       
        {% endfor %}
        {% endif %}

        <form action="/login/" method="post" id="login-form">
            {% csrf_token%}

            <div class="form-row">
                <div>
                    {% if form.username.errors %}
                    {{form.username.errors}}
                    {% endif %}
                </div>
                <div class="w-100">
                    {{form.username.label_tag}}
                    {{form.username}}
                </div>
            </div>

            <div class="form-row">
                <div>
                    {% if form.password.errors %}
                    {{form.password.errors}}
                    {% endif %}
                </div>
                <div class="w-100">
                    {{form.password.label_tag}}
                    {{form.password}}
                </div>
            </div>
           <div class="w-100 text-center"> <input type="submit" value="Login" class="btn btn-success mt-5" /></div>
        </form>


        <a href="/register" class=" float-right font-weight-bold text-primary mt-3 mb-0">Click here to register  </a>
    </div>


    <br class="clear">
</div>
{%endblock%}